</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Product of Johnchizzy </p>
  </div>
</div>

<script type="text/javascript" src="/js/jquery-3.5.1.js"></script>
<script type="text/javascript" src="/js/popper.min.js"></script>
<script src="js/bootstrap.js"></script>
</body>
</html>
